body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0px;
}
header {
    background-color:red;
    color: white;
    padding: 20px;
}

form {
    margin:20px;
}
label {
    width:120px;
    display:inline-block;
}
form div {
    margin-bottom: 10px;;
}
#species-header {
    margin:20px;
}
ul {
    display:flex;
    flex-flow: wrap;
    margin-inline-end:40px;
}
.species-item {
    list-style: none;
    background-color: lightgray;
    border-color: firebrick;
    border-style: groove;
    border-radius:5px;
    margin-bottom:20px;
    margin-right:20px;
    padding:10px;
}

.species-italic {
    font-style: italic;
}

.buttons {
    background-color: red;
    color:white;
    text-emphasis: bold;
    border-radius: 10px;
}
.no-image{
    border-style: solid;
    padding:2px;
    text-emphasis: bold;
    color:white;
}

span {
    color: green;
    font-size: 20px;
    text-align-last: right;
}